<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Search</title>
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
</head>
<body>
    <header>
        <h1>Player Search</h1>
    </header>
    <main>
        <form method="get">
            {{ form.as_p }}
            <button type="submit">Search</button>
        </form>

        {% if players %}
            <h2>Search Results</h2>
            <ul>
                {% for player in players %}
                    <li>
                        <a href="{% url 'player_matches' player.player_id %}">
                            <strong>{{ player.name_first }} {{ player.name_last }}</strong>
                        </a>
                        <p><strong>Hand:</strong> {{ player.hand }}</p>
                        <p><strong>Date of Birth:</strong> {{ player.dob }}</p>
                        <p><strong>Nationality:</strong> {{ player.ioc }}</p>
                        <p><strong>Height:</strong> {{ player.height }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No players found</p>
        {% endif %}
    </main>
    <footer>
        <p>&copy; 2024 Player Search</p>
    </footer>
</body>
</html>
